.CFUserTextEncoding
.DS_Store
.bash_history
.bundle/
.config/rclone/
.config/eddie/
.config/wireshark/
.cups/
.docker/
.dotfiles/
.gem/
.gnupg/
.node_repl_history
.npm/
.nvm/
.python_history
.ssh/
.Trash/
.viminfo
.vscode*
.zcompdump
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dump.rdb